<%- include('partials/header'); -%>
<div class="jumbotron m-5 shadow-lg">
    <h2>Mi Carrito</h2>
    <br>

    <% if (!order) { %>

      <h5 class="alert alert-warning  lead font-italic">No hay productos cargados.</h5>
    
    <% } else { %>

        <% order.map(function(o) { %>

            <% if (!o.totalSum) { %>

                  <div class="card my-4 py-2 border-0 shadow text-center">
                     
                     <div class="row no-gutters">
                        
                        <div class="col-sm-2 col-md-2 align-self-center">
                           <img class="card-img-top w-75 " src="<%= o.productImg %>" alt="<%= o.productName %>">
                        </div>


                        <div class="col-sm- col-md-3 align-self-center">
                           <div class="card-body">
                              <h5 class="card-title font-weight-bold"><%= o.productName %></h5>
                           </div>
                        </div>


                        <div class="col-sm-2 col-md-3 align-self-center">
                           <div class="card-body">
                              <h5 class="card-title">$<%= o.productPrice %></h5>
                           </div>
                        </div>


                        <div class="col-sm-1 col-md-2 align-self-center">
                           <div class="card-body">
                              <h5 class="card-title lead">x <%= o.quantity %></h5>
                           </div>
                        </div>


                        <div class="col-sm-1 align-self-center">
                           <div class="card-body">
                              <a href="eliminar/<%= o.productID %>" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
                           </div>
                        </div>


                     </div>

                  </div>
            
             <% } %> 

             <% if (o.totalSum && !o.productName) { %>
                <div class="d-flex justify-content-around pt-5">
                    <h2 class="font-weight-bold">Total: <span>$ <%= o.totalSum %></span></h2>
                </div>
                
            <% } %> 
             
        <% }); %> 

        <!-- Buttons -->
        <div class="d-flex justify-content-around">
            <a href="vaciar" class="btn btn-lg btn-outline-danger mt-5"><strong>Vaciar Carrito</strong></a>
            <a href="checkout" class="btn btn-lg btn-outline-success mt-5"><strong>Comprar</strong></a>
        </div>
    
    <% } %>
</div>

<%- include('partials/footer'); -%>