<%- include('partials/header'); -%>

<div class="jumbotron m-5">
        <h2>Editar Producto</h2>
            <br>
        <div>
                <form action="/productos/modificar/<%= product.id %>" method="POST">
                    <p>Nombre: <input type="text" name="name" class="form-control" value="<%= product.name %>" required></p> 
                    <p>Descripcion: <input type="text" name="description" class="form-control" value="<%= product.description %>" required></p> 
                    <p>Codigo <input type="text" name="code" class="form-control" value="<%= product.code %>" required></p> 
                    <p>Precio: <input type="number" name="price" class="form-control" value="<%= product.price %>" min="0" step="0.01" required></p> 
                    <p>Foto URL: <input type="text" name="thumbnail" class="form-control" value="<%= product.thumbnail %>" required></p> 
                    <p>Stock: <input type="number" name="stock" class="form-control" value="<%= product.stock %>"  pattern="[0-9]{6}" required></p> 
                    <div class="d-flex flex-row justify-content-center alig-items-center">
                        <button class="btn btn-lg btn-outline-primary mt-5" type="submit"><strong>Editar</strong></button>
                    </div>
                </form>

        </div>
</div>
    
<%- include('partials/footer'); -%>